[Unit]
Description=PiCN NFN Computation Node (Config: %I)
Documentation=https://github.com/cn-uofbasel/PiCN-systemd-service

[Service]
ExecStart=/bin/bash -c "/path/to/PiCN/starter/picn-nfn --config %I"
Restart=always
User=picn
